.wrapperCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1024px;
  margin: auto;

}

.wrapperItemCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 285px;
  justify-content: center;
  background-color: silver;

}

.card:hover{
  text-decoration: none;
}

.card-title {
  color: #158CBA;
}

.wrapperPhoto, .wrapperText{
  width: 49%;
}

.photo {
  width: 100px;
  height: 120px;
}

.btn {
  width: 280px;
}
