.wrapperRegComponent{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 5px auto;
}

.wrapperForm {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 5px auto;
  border: 3px solid lightsteelblue;
  background-color: silver;
}

.wrapperRadio{
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.wrapperLinc{
  margin-left: 10px;
}

.firstName, .lastName, .userName, .email,
.phone, .password, .confirmPassword, .address, .sex, .info {
  display: flex;
  width: 550px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

#inputFirstName:valid, #inputLastName:valid, #inputUserName:valid,
#inputPhone:valid, #inputPassword:valid, #inputConfirmPassword:valid, #inputAddress:valid {
  border: 2px solid green;
}

#inputFirstName:invalid:not(:placeholder-shown), #inputLastName:invalid:not(:placeholder-shown),
#inputUserName:invalid:not(:placeholder-shown), #inputPhone:invalid:not(:placeholder-shown),
#inputPassword:invalid:not(:placeholder-shown), #inputConfirmPassword:invalid:not(:placeholder-shown),
#inputAddress:invalid:not(:placeholder-shown), #inputEmail:invalid:not(:placeholder-shown) {
  border: 2px solid red;
}

#inputEmail:valid:not(:placeholder-shown) {
  border: 2px solid green;
}

#inputConfirmPasswordError, #inputUserNameError, #inputPhoneError {
  border: 2px solid red;
}

.wrapperButton {
  display: flex;
  width: 500px;
  justify-content: center;
  margin: 12px auto;
}

.important {
  color: red;
}

.infoUser {
  font-size: 15px;
  color: red;
}

.error{
  color: red;
}



