.wrapperInfoEntry{
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.wrapperInfoEntry{
  border-bottom: 1px solid silver;
  margin: auto;
}

.infoEntry{
  display: flex;
  justify-content:space-around;
  width: 200px;
}

.infoEntryData{
  display: flex;
  justify-content:space-between;
  width: 300px;
}

h5{
  color: grey;
}
