.map{
  width: 1024px;
  margin: 10px auto;
}

.contactData{
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px auto;
}

.wrapperPhone{
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperEmail{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phoneImg, .emailImg{
  width: 15px;
  height: 15px;
  margin-top: 0;
}
