.wrapperItemCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 10px auto;
}

.errorGetDoctor{
  display: flex;
  justify-content: center;
  width: 1024px;
  margin: 5px auto;
  color: darkred;
}
